In [1]:
# Create a dictionary mapping names to ages
ages_dict = {
    "Patrick Murphy": 45,
    "Mary Kelly": 23,
    "Thomas Williams": 16,
    "Elizabeth Smith": 34
}

# Print the entire dictionary
print(ages_dict)

{'Patrick Murphy': 45, 'Mary Kelly': 23, 'Thomas Williams': 16, 'Elizabeth Smith': 34}

In [3]:
celebrity_ages = {
    "Taylor Swift": 35,
    "Olivia Rodrigo": 22,
    "Tom Hanks": 68,
    "Meryl Streep": 75
}

print(celebrity_ages)

{'Taylor Swift': 35, 'Olivia Rodrigo': 22, 'Tom Hanks': 68, 'Meryl Streep': 75}

In [9]:
taylors_age = celebrity_ages["Taylor Swift"]
print(f"Taylor Swift is {taylors_age} years old.")

Taylor Swift is 35 years old.

In [11]:
# Add a new person to our ages dictionary
ages_dict["Michael Sullivan"] = 64
print(ages_dict)

{'Patrick Murphy': 45, 'Mary Kelly': 23, 'Thomas Williams': 16, 'Elizabeth Smith': 34, 'Michael Sullivan': 64}

In [13]:
# Change someone's age
ages_dict["Thomas Williams"] = 17  # Thomas just had a birthday!
print(f"Updated age for Thomas: {ages_dict['Thomas Williams']}")

Updated age for Thomas: 17

In [15]:
celebrity_ages["Trevor Noah"] = 41
print(celebrity_ages)

{'Taylor Swift': 35, 'Olivia Rodrigo': 22, 'Tom Hanks': 68, 'Meryl Streep': 75, 'Trevor Noah': 41}

In [19]:
celebrity_ages["Tom Hanks"] = 69
print(celebrity_ages)

{'Taylor Swift': 35, 'Olivia Rodrigo': 22, 'Tom Hanks': 69, 'Meryl Streep': 75, 'Trevor Noah': 41}

In [21]:
# Loop through all names and ages
for name in ages_dict:
    print(f"{name} is {ages_dict[name]} years old.")

# A more elegant way using the .items() method
for name, age in ages_dict.items():
    print(f"{name} is {age} years old.")

Patrick Murphy is 45 years old.
Mary Kelly is 23 years old.
Thomas Williams is 17 years old.
Elizabeth Smith is 34 years old.
Michael Sullivan is 64 years old.
Patrick Murphy is 45 years old.
Mary Kelly is 23 years old.
Thomas Williams is 17 years old.
Elizabeth Smith is 34 years old.
Michael Sullivan is 64 years old.

In [23]:
# Find all people over 30
for name, age in ages_dict.items():
    if age > 30:
        print(f"{name} is {age} years old.")

Patrick Murphy is 45 years old.
Elizabeth Smith is 34 years old.
Michael Sullivan is 64 years old.

Use the .items() method to loop through your dictionary of celebrities. Use a series of if and elif conditionals to print out, for each celebrity, which age cohort they fall in:

Gen Z: 13-28
Millenial: 29-44
Boomer: 61-79

In [44]:
for name, age in celebrity_ages.items():
    if age >= 13 and age <= 29:
        print(f"{name} is in Gen Z.")
    elif age >= 29 and age <= 44:
        print(f"{name} is a Millenial.")
    elif age >= 61 and age <= 79:
        print(f"{name} is a Boomer.")

Taylor Swift is a Millenial.
Olivia Rodrigo is in Gen Z.
Tom Hanks is a Boomer.
Meryl Streep is a Boomer.
Trevor Noah is a Millenial.

In [51]:
# Create one dictionary with all information about each person
census_data = {
    "Patrick Murphy": {
        "age": 45,
        "birth_place": "Ireland",
        "occupation": "farmer"
    },
    "Mary Kelly": {
        "age": 23,
        "birth_place": "Ireland",
        "occupation": "servant"
    },
    "Thomas Williams": {
        "age": 17,
        "birth_place": "Wales",
        "occupation": "laborer"
    },
    "Elizabeth Smith": {
    "age": 34,
    "birth_place": "England",
    "occupation": "servant"
    }
}

In [46]:
# Access data from our nested dictionary
print(census_data["Patrick Murphy"])
print(census_data["Patrick Murphy"]["occupation"])

{'age': 45, 'birth_place': 'Ireland', 'occupation': 'farmer'}
farmer

Write a print statement that prints out Mary Kelly’s age.

In [55]:
print(census_data["Mary Kelly"]["age"])

23

In [57]:
# Here are our lists of data
names = ["Patrick Murphy", "Mary Kelly", "Thomas Williams", "Elizabeth Smith", "Michael Sullivan",
         "Anna Schmidt", "William Johnson", "James O'Connor", "Bridget Walsh", "Robert Campbell",
         "Catherine Miller", "George Thompson", "Sean O'Neill", "David Jones", "Kevin Burke",
         "Margaret Wilson", "Donald Fraser", "Eileen Doyle", "Frieda Weber", "Timothy Ryan"]

ages = [45, 23, 16, 34, 64, 28, 42, 31, 27, 38, 17, 52, 29, 44, 33, 15, 61, 36, 18, 41]

birth_places = ['Ireland', 'Ireland', 'New York', 'England', 'Ireland', 'Germany', 'New York',
               'Ireland', 'Ireland', 'Scotland', 'Ireland', 'England', 'Ireland', 'Wales',
               'Ireland', 'Ireland', 'Scotland', 'Ireland', 'Germany', 'Ireland']

occupations = ['farmer', 'servant', 'laborer', 'merchant', 'farmer', 'servant', 'teacher', 'farmer',
              'laborer', 'merchant', 'servant', 'farmer', 'laborer', 'blacksmith', 'carpenter',
              'servant', 'farmer', 'weaver', 'servant', 'carpenter']

Our goal is to use a for statement to go through these lists, access the same position in each of them, and stitch all this information into a single dictionary. Conceptually, it looks something like this:

Create an empty dictionary called auto_census
Start a loop that goes through each position (index) in our lists (running sequentially from 0 to 19)

For each position:
Get the name at that position and add it to a temporary variable
Get the age at that position and add it to a temporary variable
Get the birth_place at that position and add it to a temporary variable
Get the occupation at that position and add it to a temporary variable
Add a new entry to our dictionary:
Use the person’s name as the main key
Create a nested dictionary as the value that contains information about their age, birth place, and occupation

In [60]:
auto_census = {}

In [66]:
for name in names:
    auto_census[name]
print(auto_census)

KeyError: 'Patrick Murphy'

In [68]:
# Celebrity information
names = ["Taylor Swift", "Olivia Rodrigo", "Tom Hanks", "Meryl Streep"]
ages = [35, 22, 68, 75]
birth_places = ["Pennsylvania", "California", "California", "New Jersey"]
occupations = ["singer", "singer", "actor", "actor"]

In [72]:
# Start with an empty dictionary
celebrity_info = {}

# Loop through the lists to create our nested dictionary
for i in range(len(names)):
    # Extract the data for this person and temporarily put the data into a series of variables
    name = names[i]
    age = ages[i]
    birth_place = birth_places[i]
    occupation = occupations[i]

    # Create the nested dictionary for this person
    celebrity_info[name] = {
        "age": age,
        "birth_place": birth_place,
        "occupation": occupation
    }

In [88]:
for name, occupation in celebrity_info.items():
    if occupation == "actor":
        print(f"{celebrity_info[name]} is an actor.")