# Homework 07

### ⚠️ Before you start ⚠️

_Duplicate this Jupyter Notebook in your `week-08` folder (right-click -> Duplicate) and then add your last name to the beginning of it (ie. `blevins-hw-07.ipynb` - otherwise you risk having all your work overwritten when you try to sync your GitHub repository with your instructor's repository._

---

We're going to be practing using the Pandas library to explore another dataset: a famouse collection of information about some passengers on board the _Titanic_. To find out more information about this dataset look at the data dictionary on this page: <https://www.kaggle.com/c/titanic/data#:~:text=should%20look%20like.-,data%20dictionary,-Variable>

**Import the pandas library.**

In [ ]:
#Your Code Here

**Read in the CSV file.**

In [ ]:
#Your Code Here

**Display the first 12 rows of your dataset.**

In [ ]:
#Your Code Here

**What are the different data types contained in each column?**

In [ ]:
#Your Code Here

**In your own words, what is the difference in the data types for `Survived` vs. `Age` columns?**

_Your Answer Here_

**Use the `.isna()` or `.notna()` methods in conjunction with a filter to only select rows from your dataframe consisting of passengers for which we have information about the cabin they were in.**

In [ ]:
#Your Code Here

**What percentage of rows (passengers) in the dataset have information about their cabin number?**

In [ ]:
#Your Code Here

Some of our columns are hard to read. **Rename the following columns:**

- The`SibSp` column contains information about whether the passenger had family on board (siblings or spouses). **Rename the column `siblings_spouses`.**
- The `Pclass` column stands for the ticket class (1st, 2nd, or 3rd). **Rename the column `ticket_class`.**

_Hint: remember to change it permanently rather than temporarily_.

In [ ]:
#Your Code Here

**Which passengers bought the nine most expensive tickets?**

In [ ]:
#Your Code Here

**What was the median age of passengers on the Titanic?**

In [ ]:
#Your Code Here

**Who was the oldest passenger on the Titanic in our dataset?**

In [ ]:
#Your Code Here

**Use the `groupby` function to count how many passengers bought each class of ticket.**

In [ ]:
#Your Code Here

**Use the `groupby` function to group passengers into different classes of ticket and then calculate the median age of passengers within each ticket class.**

In [ ]:
#Your Code Here

**Use the `groupby` function to group passengers into different classes of ticket and then calculate the median ticket fare within each ticket class.**

In [ ]:
#Your Code Here

## Bonus Questions

**Bonus: Make the Survived column more legible. Write a function and apply it to the dataframe that changes the 0 and 1 values to "Died" and "Lived." Then display the first 10 rows to see if it worked.**

Note: when changing the values in columns, you might make mistakes. That's okay! You can always reload the dataframe from the original file to start over. When trying to answer this questions, each time you run it I'm going to have you start with the "original" dataframe so that you don't have to go back to the beginning of the notebook and run all the cells again.

In [ ]:
titanic_df=pd.read_csv('titanic.csv')

# Your Code Here

**Bonus: What percentage of people survived the Titanic?**

In [15]:
#Your Code Here

**Bonus: Make a pie chart visualizing the proportion of people who survived the Titanic.** Hint: use the total number of rows in the dataframe to calculate the percentage.

In [16]:
#Your Code Here