Getting data

In [45]:
ages = [45, 23, 16, 34, 64, 28, 42, 31, 27, 38, 17, 52, 29, 44, 33, 15, 61, 36, 18, 41]

occupations = ['farmer', 'servant', 'laborer', 'merchant', 'farmer', 'servant', 'teacher', 'farmer', 'laborer', 'merchant', 'servant', 'farmer', 'laborer', 'blacksmith', 'carpenter', 'servant', 'farmer', 'weaver', 'servant', 'carpenter']

birth_places = ['Ireland', 'Ireland', 'New York', 'England', 'Ireland', 'Germany', 'New York', 'Ireland', 'Ireland', 'Scotland', 'Ireland', 'England', 'Ireland', 'Wales', 'Ireland', 'Ireland', 'Scotland', 'Ireland', 'Germany', 'Ireland']

In [5]:
len(ages)

20

In [7]:
len(occupations)

20

In [9]:
len(birth_places)

20

In [13]:
occupations[:5]

['farmer', 'servant', 'laborer', 'merchant', 'farmer']

In [15]:
from collections import Counter
Counter(occupations)

Counter({'farmer': 5,
         'servant': 5,
         'laborer': 3,
         'merchant': 2,
         'carpenter': 2,
         'teacher': 1,
         'blacksmith': 1,
         'weaver': 1})

In [17]:
from collections import Counter
Counter(birth_places)

Counter({'Ireland': 11,
         'New York': 2,
         'England': 2,
         'Germany': 2,
         'Scotland': 2,
         'Wales': 1})

In [41]:
for number, occupation in enumerate(occupations):
    print(f"Person #{number}: {occupation}")

Person #0: farmer
Person #1: servant
Person #2: laborer
Person #3: merchant
Person #4: farmer
Person #5: servant
Person #6: teacher
Person #7: farmer
Person #8: laborer
Person #9: merchant
Person #10: servant
Person #11: farmer
Person #12: laborer
Person #13: blacksmith
Person #14: carpenter
Person #15: servant
Person #16: farmer
Person #17: weaver
Person #18: servant
Person #19: carpenter

In [51]:
for number, age in enumerate(ages):
    print(f"Person #{number}: {age}")

Person #0: 45
Person #1: 23
Person #2: 16
Person #3: 34
Person #4: 64
Person #5: 28
Person #6: 42
Person #7: 31
Person #8: 27
Person #9: 38
Person #10: 17
Person #11: 52
Person #12: 29
Person #13: 44
Person #14: 33
Person #15: 15
Person #16: 61
Person #17: 36
Person #18: 18
Person #19: 41

In [55]:
for number, age in enumerate(ages), birth in enumerate(birth_places):
    print(f"Person #{number}: {age}, {birth}")

NameError: name 'birth' is not defined

In [57]:
skilled_laborers = []
for occupation in occupations:
    if occupation == 'blacksmith' or occupation == 'carpenter' or occupation == 'weaver':
        skilled_laborers.append(occupation)
print(f"Number of skilled laborers: {len(skilled_laborers)}")

Number of skilled laborers: 4

In [59]:
united_kingdom_origin = []
for birth_place in birth_places:
    if birth_place == 'Ireland' or birth_place == 'England' or birth_place == 'Wales':
        united_kingdom_origin.append(birth_place)
print(f"Number from the United Kingdom: {len(united_kingdom_origin)}")

Number from the United Kingdom: 14

In [63]:
under_30 = []
for age in ages:
    if age < 30:
        under_30.append(age)
print(f"Number under 30: {len(under_30)}")

Number under 30: 8

In [69]:
for number, age, birth_place in enumerate(zip(ages, birth_places)):
    print(f"Person #{number}: {age}, {birth_place}")

ValueError: not enough values to unpack (expected 3, got 2)

In [71]:
skilled_unskilled = []
for occupation in occupations:
    if occupation == 'blacksmith' or occupation == 'carpenter' or occupation == 'weaver':
        skilled_unskilled.append("skilled laborer")
    elif occupation == 'laborer' or occupation == 'servant' or occupation == 'farmer':
        skilled_unskilled.append("unskilled laborer")
    else:
        skilled_unskilled.append("other")
Counter(skilled_unskilled)

Counter({'unskilled laborer': 13, 'skilled laborer': 4, 'other': 3})

In [79]:
age_group = []
for age in ages:
    if age < 18:
        age_group.append("youth")
    elif age < 50:
        age_group.append("adult")
    else:
        age_group.append("elderly")
Counter(age_group)

Counter({'adult': 14, 'youth': 3, 'elderly': 3})

In [81]:
for age, occupation, origin in zip(ages, occupations, birth_places):
    print(f"Age {age}, worked as {occupation}, born in {origin}")

Age 45, worked as farmer, born in Ireland
Age 23, worked as servant, born in Ireland
Age 16, worked as laborer, born in New York
Age 34, worked as merchant, born in England
Age 64, worked as farmer, born in Ireland
Age 28, worked as servant, born in Germany
Age 42, worked as teacher, born in New York
Age 31, worked as farmer, born in Ireland
Age 27, worked as laborer, born in Ireland
Age 38, worked as merchant, born in Scotland
Age 17, worked as servant, born in Ireland
Age 52, worked as farmer, born in England
Age 29, worked as laborer, born in Ireland
Age 44, worked as blacksmith, born in Wales
Age 33, worked as carpenter, born in Ireland
Age 15, worked as servant, born in Ireland
Age 61, worked as farmer, born in Scotland
Age 36, worked as weaver, born in Ireland
Age 18, worked as servant, born in Germany
Age 41, worked as carpenter, born in Ireland

Use zip() to identify:

- All Irish-born farmers
- All merchants under 40

In [91]:
irish_farmers = []
for occupation, origin in zip(occupations, birth_places):
    if occupation == 'farmer' and birth_place == 'Ireland':
        irish_farmers.append('Irish Farmer')
len(irish_farmers)

5

In [93]:
young_merchants = []
for age, occupation in zip(ages, occupations):
    if age < 40 and occupation == 'merchant':
        young_merchants.append('Merchant under 40')
len(young_merchants)

2