# Homework 02

### ⚠️ Before you start ⚠️ 
_Duplicate this Jupyter Notebook in your `week-02` folder (right-click -> Duplicate) and then your last name to the beginning of it (ie. `hw-02-blevins.ipynb` - otherwise you risk having all your work overwritten when you try to sync your GitHub repository with your instructor's repository._

⚠️ _No, seriously: check the name of this file. Is it the copy you made? (ie. `hw-02-blevins.ipynb`). If so, you can proceed_ ⚠️

---

Student Name: Kylie Miller

---
This homework assignment will help you review Jupyter Notebooks and Python variables and data types. Answer the questions below and follow the instructions. When you're finished, you should follow [the instructions on the course website](https://cblevins.github.io/sp25-data/assignments/coding-homework/) to submit it to Canvas.

---

## Madlibs with Christine Darden

**1.** The cell below contains the first line of Christine Darden's Wikipedia page. Convert this cell to "Markdown" and then make the following revisions:
1. Make the words "Christine Darden" bolded.
2. Add a hyperlink to the word "Wikipedia" so that when a user clicks on it they will go to her Wikipedia page: https://en.wikipedia.org/wiki/Christine_Darden.
3. Add an unordered (bulleted) list of the three universities she attended (her three alma maters listed on her Wikipedia page).

(For help, see [Jupyter Tips & Tricks](https://melaniewalsh.github.io/Intro-Cultural-Analytics/02-Python/EXTRA-Jupyter-Tips-Tricks.html))

**Christine Darden** (born September 10, 1942, as Christine Mann) is an American mathematician,
data analyst, and aeronautical engineer who devoted much of her 40-year career in aerodynamics
at NASA to researching supersonic flight and sonic booms.

*Universities Attended:*
* Hampton University
* Virginia State University
* George Washington University

–[Wikipedia](https://en.wikipedia.org/wiki/Christine_Darden)

**2.** Go to Christine Darden's Wikipedia page and find her name, birth year, and occupation. Assign these values to the variables: `name`, `birth_year`, and `occupation`. You should also assign the current year to the variable `current_year`.

In [12]:
name = "Christine Darden"
birth_year = 1942
occupation = "technical leader of NASA's Sonic Boom Group"
current_year = 2025

**3.** Double check to make sure that you have made the right kind of variables. Write four lines of code to print out that the following variable **types**: 
- `name` is a string
- `occupation` is a string
- `birth_year` is an integer 
- `current_year` is an integers

In [14]:
type(name)

str

In [15]:
type(occupation)

str

In [16]:
type(birth_year)

int

In [17]:
type(current_year)

int

**4.** Calculate Christine Darden's current age in years by using two of the variables above and [a mathematical operator](https://melaniewalsh.github.io/Intro-Cultural-Analytics/02-Python/05-Data-Types.html#integers-floats). (Using this crude method, her calculated age might not match her true age exactly.)

In [19]:
age = current_year - birth_year
print(age)

83

**5.** Assign the Python expression above to a new variable called `current_age`.

In [21]:
current_age = current_year - birth_year
print(current_age)

83

**6.** Use `print()` and **f-strings** to write two sentences about Christine Darden using the variables `name`, `occupation`, `birth year` and `current_age`.

In [23]:
print(f"{name} was born in {birth_year}. She worked as a {occupation} and is now {current_age}.")

Christine Darden was born in 1942. She worked as a technical leader of NASA's Sonic Boom Group and is now 83.

## Debugging/Troubleshooting Practice

**7.** The code below returns an error message. Fix the error and then run the code so that it prints correctly.

In [26]:
print(f"{name} was a {occupation}. She was born in {birth_year}.")

Christine Darden was a technical leader of NASA's Sonic Boom Group. She was born in 1942.

**8.** Explain why the code above produced an error message.

This produced an error message because the quotation marks were not closed out.

**9.** The code below also doesn't work properly. Fix the problem and then run the code so that it prints correctly.

In [30]:
print(f"{name} was a {occupation}. She was born in {birth_year}.")

Christine Darden was a technical leader of NASA's Sonic Boom Group. She was born in 1942.

**10.** Explain why the code above produced an error message.

This did not include the "f" at the beginning to retrieve the variables inserted in the sentence.

## Bonus

Here are some bonus tasks in Python for you to try with Christine Darden:
- Try to calculate how many days she's lived (approximately)
- Print her name in all capital letters
- Print her name in all lowercase letters
- Count how many characters are in their name

In [35]:
days_in_year = 365
age_in_days = days_in_year * current_age
print(age_in_days)

30295

In [36]:
print(name.upper())

CHRISTINE DARDEN

In [37]:
print(name.lower())

christine darden

In [38]:
name_char = len(name)
print(name_char)

16

In [39]:
name_char = len(name.replace(" ",""))
print(name_char)

15

## Submission

Follow [the instructions](https://cblevins.github.io/sp25-data/assignments/coding-homework/) I've made for submitting homework and then submit your files on [the Canvas assignment page](https://ucdenver.instructure.com/courses/552717/assignments/1911767) in two files (one `.ipynb` and one `.pdf`).

- Save your notebook
- `Kernel` -> `Restart Kernel and Run All Cells`
- `File` -> `Print` and try to find an option to Save/Print to PDF. Depending on your operating system and browser, this might be `Destination` -> `Save as PDF`, `Select Printer` -> `Microsoft Print to PDF` ([instructions for different browsers](https://xodo.com/blog/how-to-save-webpage-as-pdf)). Name the file with the same naming convention as your .ipynb file (ie. `hw-02-yourlastname.pdf`) and save the resulting PDF file (ending in `.pdf`) into the same folder.