# Homework 06

### ⚠️ Before you start ⚠️

_Duplicate this Jupyter Notebook in your `week-07` folder (right-click -> Duplicate) and then add your last name to the beginning of it (ie. `blevins-hw-06.ipynb` - otherwise you risk having all your work overwritten when you try to sync your GitHub repository with your instructor's repository._

---
Student Name: Your name here
---

## Overview

This homework assignment will help you learn how to use the Pandas library to explore tabular data by applying some of the concepts and lessons from Melanie Walsh, [Pandas I](https://info1350.github.io/Intro-CA-SP21/03-Data-Analysis/01-Pandas-Basics-Part1.html) to a new dataset.

This week we're going to use a spreadsheet of historical data transcribed by CU Denver history major Ryan Hanlon as part of his final project for the course Introduction to Digital Studies in Spring 2021. The data consists of a passenger list from a steamship that arrived in Boston on April 9, 1884 carrying several hundred immigrants.

<div align="center">
  <img
    src="grecian.jpg"
    width="60%"
    style="border: 2px solid"
    alt="Description of image"
  />
  <figcaption style="font-style: italic">
    The Steamship Grecian
  </figcaption>
</div>

The nine-page passenger list from the _Steamship Grecian_ was submitted to authorities at the Port of Boston. This document was later scanned by the Church of Latter Day Saints and made available through its FamilySearch online archive.

<div align="center">
  <img
    src="passenger-list-page.jpeg"
    width="40%"
    style="border: 2px solid"
    alt="Description of image"
  />
  <figcaption style="font-style: italic">
    Passenger list from the Steamship Grecian
  </figcaption>
</div>

Ryan then transcribed the data in Spring 2021 into a spreadsheet formatted as a CSV (comma separated value) file contained in this folder: `boston-passenger-list-1884.csv`.

For this homework, you will be following many of Melanie Walsh's steps in [Pandas I](https://info1350.github.io/Intro-CA-SP21/03-Data-Analysis/01-Pandas-Basics-Part1.html) and then adapting them to fit this new dataset.

---

1. Import the Pandas library (use the alias `pd`) and read in the CSV file, storing the contents of the file as a dataframe named `passengers_df`. Add a second line of code to display the contents of the dataframe (truncated).

In [1]:
#Your Code Here

2. Display the **first 6 rows** of the dataframe.

In [2]:
#Your Code Here

3. Show a **random sample of 10 rows** from your dataframe.

In [3]:
#Your Code Here

4. What are **two historical questions** about this list of passengers that you might be able to answer using Pandas?

_Your answer here._

1.
2.

## Analyzing the Data

5. Calculate "summary statistics" for the passenger data.

In [4]:
#Your Code Here

6. Looking at the summary statistics, answer the following questions:

- What is the most frequently occuring last name?
- How often does the most frequently occuring last name appear?
- How many different _kinds_ of occupations are listed in the data?
- How old is the oldest passenger?

Your answers here:

- What is the most frequently occuring last name?
- How often does the most frequently occuring last name appear?
- How many different _kinds_ of occupations are listed in the data?
- How old is the oldest passenger?

7. Write code to answer: what was the **median** age of the passengers?

In [5]:
#Your Code Here

8. What were the **ten most frequent cities** that passengers were traveling to and how many of them were going to each of these cities?

In [6]:
#Your Code Here

9. Follow [Walsh's example](https://melaniewalsh.github.io/Intro-Cultural-Analytics/03-Data-Analysis/01-Pandas-Basics-Part1.html#:~:text=in%20the%201840s.-,Make%20and%20Save%20Plots,-%C2%B6) and adapt her code to make a bar chart of the **top ten most frequent destination cities** based on **how many passengers** were going to each of them.

In [7]:
#Your Code Here

10. Where were passengers coming from? Print out **the most frequent countries** they were immigrating from and how many passengers were coming from each country. Hint: use `value_counts()` and index.

In [8]:
#Your Code Here

11. Make a pie chart showing **how many passengers were coming from each country**. Adapt [Walsh's example](https://melaniewalsh.github.io/Intro-Cultural-Analytics/03-Data-Analysis/01-Pandas-Basics-Part1.html#:~:text=To%20make%20a%20pie%20chart%2C).

In [9]:
#Your Code Here

12. Create a new variable called `children_filter` and assign it a True/False statement to that variable that specifies passengers who were **children**. Then use this new `children_filter` to create a new dataframe called `children_df` that **only contains passengers who were children**. Display a sample of **five random rows** from this new dataframe. Hint: look under the `occupation` column in your dataframe. Hint: [Walsh example](https://melaniewalsh.github.io/Intro-Cultural-Analytics/03-Data-Analysis/01-Pandas-Basics-Part1.html#:~:text=it%20can%20be%20helpful%20to%20make%20a%20separate%20variable%20for%20a%20filter).

In [10]:
#Your Code Here

13. Create a **new CSV file** named `passenger-list-children.csv` that only contains records for passengers who were children. Hint: you'll be printing the contents of `children_df` to a CSV file using `to_csv()` method. [Walsh example](https://melaniewalsh.github.io/Intro-Cultural-Analytics/03-Data-Analysis/01-Pandas-Basics-Part1.html#:~:text=To%20output%20a%20new%20CSV%20file). To check to make sure you successfully created the file, add a line of code that reads in the newly created CSV file using `pd.read_csv()`.

In [11]:
#Your Code Here

## Bonus Questions

What was the cut-off age for classifying a passenger as a child? Ie. What was **the oldest a passenger could be to still be considered a child**? Write code that prints out the answer to this question.

In [12]:
#Your Code Here

**Age Comparison**: Calculate and write print() statements that show:

- The average age of passengers from **Ireland**
- The average age of passengers from **Scotland**.
- The difference in years between these average

In [ ]:
#Your Code Here

**Save a Filtered Dataset**: Create a new CSV file that contains data for: only adult passengers (**age 18 and over**) who were heading to **Boston**.

In [ ]:
#Your Code Here